body {
    background: #3c8a3d;
}
header {
    display: flex; 
    align-items: center;
    padding: 2px;
    background-color: #FFFFFF;
    border-radius: 30px;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .logo img {
    max-width: 90px; 
    border-radius: 100px;
  }
  
  .nombre-pagina h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffa30f;
    text-align: justify;
  }

  .footer {
    position: fixed;
    bottom: 0; 
    left: 0;
    right: 0;
    background-color: #FFFFFF; 
    padding: 2px;
    text-align: center;
  }
  
  .footer-content {
    display: flex; 
    align-items: center;
    text-align: center;
  }
  
  .footer-logo {
    margin-right: 10px; 
  }
  
  .footer-logo img {
    max-width: 70px; 
    border-radius: 100px;
  }
  
  .footer-text p {
    margin: 0;
    color: #ffa30f;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-weight: 900;
  }
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    margin: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="tel"],
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
    
  }
  .nave{
    background: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 5px;
  }
  .nave a:hover{
    text-decoration: none;
	  color:black;
  }
  .nave a{
    text-decoration: none;
    font-weight: 900;
    margin: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    background: #ffa30f;
    padding: 4px;
    border-radius: 10px;
  }